.section-faq{
    background-color: #473750;
    .accordion-item{
        background-color: unset;
        color: #fff;
    }
    .accordion-button{
        color: #fff;
        background-color: #3e294a;
    }
}