#section_hero{
    background-image: url("../../assets/images/index_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    padding: 10rem 0;
}
#foto_mobile{
    width: 100%;
}
#btn_hero{
    font-size: 1.2rem;
}
p{
    font-size: 1.56rem;
    color: #fff;
}