#section-creditcard {
    h2 {
        font-size: 2.5rem;
        color: #8c00b2;
        font-weight: 300;
    }
    @media(min-width: 576px){
        h2{font-size: 3.5rem;}
    }
    .list{
        margin: 0.7rem 0;
        font-size: 1.375rem;
        display: grid;
        grid-template-columns: 1fr 8fr;
        i{
            color: red;
            font-size: 1.75rem;
        }
        p{
            display: inline-block;
            color: #777;
        }
    }    
}