.dashboard{
    justify-content: space-between;
}
.dashBodyMenu{
    padding: 0.8rem 1rem;
    color: #7b34b1;
    font-weight: bold;
    transition: all ease 0.3s;
}

.actv,
.dashBodyMenu:hover{
    background-color: #7b34b1;
    border-radius: 5px;
    color: #fff;
}

#uncontrolled-tab-example-tab-minhaconta{
    width: 100%;
    text-align: left;
    color: #fff;
    background: red;
}