#section_cards {
    .card {
        color: #000;
        margin: 2rem 0;
    }
    img{
        min-width: 17rem;
    }

    .card-text {
        font-size: 1rem;
        line-height: 22px;
        color: #444444;
        font-family: "Helvetica Neue";
    }
}